a{
    color: $txt-link;
}
em{
    color: $txt-highlight;
}
::-webkit-input-placeholder {
    color: $txt-muted;
}
.ui-common-box {
  margin-top: 1.23rem;
  margin-bottom: 1.12rem;
}
.ui-common-height {
  height: 0.9333333333333333rem;
}
.ui-common-mg-tb {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.ui-common-mg-b {
  margin-bottom: 0.2rem;
}
.ui-common-pd {
  padding: 0.2rem;
}
.ui-common-pd-t {
  padding-top: 0.2rem;
}
.ui-common-pd-tb {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.ui-text-center {
  text-align: center;
}
.ui-bg-white {
  background-color: white;
}
.ui-font-14 {
  @include font(14px);
}
.ui-width-80 {
  width: 1.0666666666666667rem;
}
.ui-display-b {
  display: block;
}
.ui-nav-box,.ui-btn-box{
  width: 100%;
  height: 1.12rem;
  line-height: 1.12rem;
  text-align: center;
  background-color: $public-bg;
  color: $txt-white;
  @include font(14px);
}
.ui-vertical-middle {
  vertical-align: middle
}
.ui-active-font-b {
  color: $txt-highlight;
  font-weight: bold;
}
.ui-info-head {
  width: 1.6266666666666667rem;
  height: 0.6666666666666666rem;
  padding-top: 15px;
  border-bottom: 2px solid $txt-highlight;
  @include font(14px);
}
.ui-info-txt {
  margin-top: 0.2rem;
  margin-bottom: 0.13333333333333333rem;
  padding: 0.13333333333333333rem;
  background-color: #f7f7f7;
  color: #333;
  text-indent: 2em;
}
/**
 * 文字
 */
.ui-txt-default{
    color: $txt-default;
}
.ui-txt-white{
    color: white;
}
.ui-txt-info{
    color: $txt-info;
}
.ui-txt-muted{
    color: $txt-muted;
}
.ui-txt-warning,.ui-txt-red{
    color: $txt-warning;
}
.ui-txt-feeds{
    color: $txt-feeds;
}
/* 同em */
.ui-txt-highlight{
    color: $txt-highlight;
}
.ui-txt-justify{
    text-align: justify;
}
.ui-txt-justify-one{
    text-align: justify;
    overflow: hidden;
    height: 24px;
}
.ui-txt-justify-one:after{
    display:inline-block;
    content:'';
    overflow:hidden;
    width:100%;
    height:0;
}
.ui-icon-return {
    position: absolute;
    left: 0;
    width: 1.0666666666666667rem;
    color: #fff;
    &:before {
      content: "\e63b";
    }
}
.ui-text-indent {
  text-indent: 2em;
}

.active {
  background-color: $active-bg;
}
