a{
    color: $txt-link;
}
em{
    color: $txt-highlight;
}
::-webkit-input-placeholder {
    color: $txt-muted;
}
.ui-common-box {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}
.ui-common-height {
  height: 0.9333333333333333rem;
}
.ui-common-mg-tb {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.ui-common-mg-t {
  margin-top: 0.2rem;
}
.ui-common-mg-b {
  margin-bottom: 0.2rem;
}
.ui-common-pd {
  padding: 0.2rem;
}
.ui-common-pd-t {
  padding-top: 0.2rem;
}
.ui-common-pd-tb {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.ui-common-pd-l {
  padding-left: 0.26666666666666666rem;
}
.ui-common-pd-r {
  padding-right: 0.26666666666666666rem;
}
.ui-text-center {
  text-align: center;
}
.ui-bg-white {
  background-color: white;
}
.ui-font-14 {
  @include font(14px);
}
.ui-width-80 {
  width: 1.0666666666666667rem;
}
.ui-display-b {
  display: block;
}
.ui-nav-box,.ui-btn-box{
  width: 100%;
  height: 1.12rem;
  line-height: 1.12rem;
  text-align: center;
  background-color: $public-bg;
  color: $txt-white;
  @include font(14px);
}
.ui-vertical-middle {
  vertical-align: middle
}
.ui-active-font-b {
  color: $txt-highlight;
  font-weight: bold;
}
.ui-info-head {
  width: 2.5rem;
  height: 0.6666666666666666rem;
  margin-top: 0.6666666666666666rem;
  margin-bottom: 0.4rem;
  border-bottom: 2px solid $txt-highlight;
  @include font(14px);
  text-align: center;
}
.ui-info-txt {
  margin-top: 0.2rem;
  margin-bottom: 0.13333333333333333rem;
  padding: 0.13333333333333333rem;
  background-color: #f7f7f7;
  color: #333;
  text-indent: 2em;
}
.ui-common-mg-t0 {
  margin: 0;
}
/**
 * 文字
 */
.ui-txt-default{
    color: $txt-default;
}
.ui-txt-white{
    color: white;
}
.ui-txt-info{
    color: $txt-info;
}
.ui-txt-muted{
    color: $txt-muted;
}
.ui-txt-warning,.ui-txt-red{
    color: $txt-warning;
}
.ui-txt-feeds{
    color: $txt-feeds;
}
/* 同em */
.ui-txt-highlight{
    color: $txt-highlight;
}
.ui-btn-highlight{
    color: $public-bg;
}
.ui-txt-justify{
    text-align: justify;
}
.ui-txt-justify-one{
    text-align: justify;
    overflow: hidden;
    height: 24px;
}
.ui-txt-justify-one:after{
    display:inline-block;
    content:'';
    overflow:hidden;
    width:100%;
    height:0;
}
.ui-icon-return {
    position: absolute;
    left: 0;
    width: 1.0666666666666667rem;
    color: #fff;
    &:before {
      content: "\e63b";
    }
}
.ui-text-indent {
  text-indent: 2em;
}
.ui-bottom-btn {
  position: fixed;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 9999;
  box-sizing: border-box;
}

.active {
  background-color: $public-bg;
  color: #fff;
}
.ui-txt-bg {
    background-color: #f1f1f1;
}
.ui-border-dash-t {
  border-top: dashed 1px #e0e0e0;
}
.ui-border-dash-r {
  border-right: dashed 1px #e0e0e0;
}
.ui-border-dash-b {
  border-bottom: dashed 1px #e0e0e0;
}
.ui-border-dash-l {
  border-left: dashed 1px #e0e0e0;
}
.ui-win {
  display: inline-block;
  width: 0.8rem;
  line-height: 0.8rem;
  border-radius: 100%;
  background-color: $txt-highlight;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  transform: rotate(15deg);
}
.ui-dispaly-ib {
  display: inline-block;
}
.ui-no-data {
  height: 1.0666666666666667rem;
  line-height: 1.0666666666666667rem;
  text-align: center;
  color: $txt-highlight;
}
.ui-close {
  color: #999;
}
.ui-gary {
  color: #e0e0e0;
}
