.ui-avatar-s {
    width: $avatar-width-s;
    height: $avatar-width-s;
    display: inline-block;
    -webkit-border-radius: $avatar-radius;
    overflow: hidden;
    vertical-align: middle;
    span {
      width: 100%;
      height: 100%;
      display: inline-block;
      overflow: hidden;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -webkit-border-radius: $avatar-radius;
    }
    background-color: #f7f7f7;
}
.ui-avatar-lg {
    width: $avatar-width-lg;
    height: $avatar-width-lg;
    display: inline-block;
    -webkit-border-radius: $avatar-radius;
    overflow: hidden;
    vertical-align: middle;
    span {
      width: 100%;
      height: 100%;
      display: inline-block;
      overflow: hidden;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -webkit-border-radius: $avatar-radius;
    }
    background-color: #f7f7f7;
}
