@mixin common {
    display: inline-block;
    border: 1px solid $bordercolor;
    border-radius: 0.13333333333333333rem;
}
.ui-btn {
  padding: 0.13333333333333333rem 0.4rem;
  @include common;
}
.ui-btn-sm {
  padding: 0 0.10666666666666667rem;
  @include common;
}
.ui-btn-big {
  padding: 0.13333333333333333rem 0.4rem;
  @include common;
}
