.ui-whitespace{
    margin-left: $wrap-padding;
    margin-right: $wrap-padding;
    box-sizing: border-box;
}
.ui-whitespace-left{
    margin-left: $wrap-padding;
    box-sizing: border-box;
}
.ui-whitespace-right{
    margin-right: $wrap-padding;
    box-sizing: border-box;
}
@media (max-width: 320px) {
    .ui-whitespace{
        margin-left: $wrap-padding-s;
        margin-right: $wrap-padding-s;
    }
    .ui-whitespace-left{
        margin-left: $wrap-padding-s;
    }
    .ui-whitespace-right{
        margin-right: $wrap-padding-s;
    }
}
